xml01/step03/Test07.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!-- 속성의 타입(식별자참조)
	IDREF		ID 값을 저장해야 한다.
 -->
<!ELEMENT projects (student*,project*)>
<!ELEMENT student EMPTY>
<!ATTLIST	student
	name 		NMTOKEN #REQUIRED
	gender 	(man|woman|trans) "man"
	email		ID #REQUIRED
	tel			NMTOKENS #IMPLIED
>

<!ELEMENT project EMPTY>
<!ATTLIST project
	title		CDATA #REQUIRED
	owner		IDREF #REQUIRED
	members	IDREFS	#IMPLIED
>